.containerCounters {
  background-color: #2f3542;
  max-width: 100%;
  color: #d9d9d9;
  justify-content: space-around;
  border-radius: 10px 10px 0 0;
  height: 70px;
}

.boxCounter {
  font-size: 20px;
  font-weight: 600;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: flex;
  justify-content: center;
}

.statusCounter {
  width: 12px;
  height: 12px;
  border-radius: 30px;
  margin-left: 5px;
}

.statusCounter.total {
  background-color: rgba(43, 139, 46, 0.8);
}

.statusCounter.irrigating {
  background-color: rgba(24, 144, 185, 1);
}

.statusCounter.inactive {
  background-color: rgba(255, 255, 255, 1);
}

.statusCounter.failure {
  background-color: #c23616;
}

.subBoxCounter {
  display: flex;
  align-items: center;
  width: 140px auto;
  max-width: 140px;
  gap: 5px;
}

.titleMap {
  font-size: 22px;
  display: flex;
  align-items: center;
}
